In [1]:
# 1. Instalacja PostgreSQL w Google Colab
!apt-get install postgresql postgresql-contrib -y

# 2. Uruchomienie PostgreSQL
!service postgresql start

# 3. Ustawienie hasła dla użytkownika "postgres" i utworzenie bazy danych "movielens"
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres';"
!sudo -u postgres psql -c "CREATE DATABASE movielens;"

# 4. Instalacja dodatkowych bibliotek Python (SQLAlchemy i Pandas)
!pip install sqlalchemy psycopg2 pandas

# 5. Pobranie danych MovieLens
!wget https://files.grouplens.org/datasets/movielens/ml-latest-small.zip -O movielens.zip
!unzip movielens.zip

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common ssl-cert sysstat
Suggested packages:
  bsd-mailx | mailx postgresql-doc postgresql-doc-14 isag
The following NEW packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common
  postgresql-contrib ssl-cert sysstat
0 upgraded, 14 newly installed, 0 to remove and 49 not upgraded.
Need to get 18.4 MB of archives.
After this operation, 51.7 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 logrotate amd64 3.19.0-1ubuntu1.1 [54.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 netbase all 6.3 [12.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcommon-sense-perl amd64 3.75-2build1 [21.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-perl all 4.04000-1 [81.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libtypes-serialiser-perl all 1.01-1 [11.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-xs-perl amd64 4.030-1build3 [87.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-client-common all 238 [29.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-client-14 amd64 14.13-0ubuntu0.22.04.1 [1,225 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 ssl-cert all 1.1.2 [17.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-common all 238 [169 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-14 amd64 14.13-0ubuntu0.22.04.1 [16.2 MB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql all 14+238 [3,288 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-contrib all 14+238 [3,292 B]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sysstat amd64 12.5.2-2ubuntu0.2 [487 kB]
Fetched 18.4 MB in 2s (11.0 MB/s)
Preconfiguring packages ...
Selecting previously unselected package logrotate.
(Reading database ... 123620 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.13-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.13-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.13-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.13-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package postgresql-contrib.
Preparing to unpack .../12-postgresql-contrib_14+238_all.deb ...
Unpacking postgresql-contrib (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../13-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.13-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.13-0ubuntu0.22.04.1) ...
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-contrib (14+238) ...
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE
CREATE DATABASE
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.35)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
--2024-10-06 19:13:24--  https://files.grouplens.org/datasets/movielens/ml-latest-small.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 978202 (955K) [application/zip]
Saving to: ‘movielens.zip’

movielens.zip       100%[===================>] 955.28K  3.70MB/s    in 0.3s

2024-10-06 19:13:25 (3.70 MB/s) - ‘movielens.zip’ saved [978202/978202]

Archive:  movielens.zip
   creating: ml-latest-small/
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

In [2]:
# Import danych do PostgreSQL
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Ustawienie połączenia z PostgreSQL
engine = create_engine('postgresql://postgres:postgres@localhost:5432/movielens')

In [4]:
# Wczytanie danych do Pandas
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [5]:
# Import filmów do PostgreSQL
movies.to_sql('movies', engine, index=False, if_exists='replace')

742

In [6]:
# Import ocen do PostgresSQL
ratings.to_sql('ratings', engine, index=False, if_exists='replace')

836

In [12]:
# 1. Ile filmów znajduje się w zestawie danych?
movies_count = pd.read_sql('SELECT COUNT(*) FROM movies;', engine)
print(movies_count.iloc[0, 0])

9742

In [14]:
# 2. Jaki jest najcześciej występujący gatunek filmu?
genres = pd.read_sql('SELECT genres FROM movies;', engine)
all_genres = genres['genres'].str.split('|', expand=True).stack().value_counts()
print(f'Najczęściej występujący gatunek: {all_genres.index[0]}')

Najczęściej występujący gatunek: Drama

In [18]:
# 3. 10 najwyżej ocenianych filmów
top_rated_movies = pd.read_sql('''
  SELECT m.title, AVG(r.rating) as avg_rating
  FROM ratings r
  JOIN movies m ON r."movieId" = m."movieId"
  GROUP BY m.title
  ORDER BY avg_rating DESC
  LIMIT 10;
''', engine)
print(f"10 najwyżej oceniach filmów:\n{top_rated_movies}")

10 najwyżej oceniach filmów:
                                            title  avg_rating
0                           Brother (Brat) (1997)         5.0
1                                      Eva (2011)         5.0
2       Go for Zucker! (Alles auf Zucker!) (2004)         5.0
3                              Holy Motors (2012)         5.0
4                              Connections (1978)         5.0
5                  Watching the Detectives (2007)         5.0
6                         Girls About Town (1931)         5.0
7  Story of Women (Affaire de femmes, Une) (1988)         5.0
8                Nasu: Summer in Andalusia (2003)         5.0
9                           Into the Woods (1991)         5.0

In [22]:
# 4. Podaj 5 użytkowników, którzy najcześciej wystawiali oceny
top_users = pd.read_sql('''
  SELECT "userId", COUNT(*) as ratings_count
  FROM ratings
  GROUP BY "userId"
  ORDER BY ratings_count DESC
  LIMIT 5;
''', engine)
print(f"5 użytkowników z największą liczbą ocen:\n{top_users}")

5 użytkowników z największą liczbą ocen:
   userId  ratings_count
0     414           2698
1     599           2478
2     474           2108
3     448           1864
4     274           1346

In [28]:
# 5. Pierwsza i ostatnia ocena
first_last_rating = pd.read_sql('''
      WITH first_last_ratings AS (
        SELECT
            "movieId",
            MIN(timestamp) AS first_rating,
            MAX(timestamp) AS last_rating
        FROM ratings
        GROUP BY "movieId"
    )
    SELECT
        m.title,
        TO_TIMESTAMP(flr.first_rating) AS first_rating_date,
        TO_TIMESTAMP(flr.last_rating) AS last_rating_date
    FROM first_last_ratings flr
    JOIN movies m ON m."movieId" = flr."movieId"
    ORDER BY flr.first_rating ASC, flr.last_rating DESC
    LIMIT 2;
''', engine)
print(f"Pierwsza i ostatnia ocena:\n{first_last_rating}")

Pierwsza i ostatnia ocena:
              title         first_rating_date          last_rating_date
0  Apollo 13 (1995) 1996-03-29 18:36:55+00:00 2018-09-01 18:42:46+00:00
1     Batman (1989) 1996-03-29 18:36:55+00:00 2018-08-31 10:05:11+00:00

In [34]:
# 6. Wszystkie filmy wydane w 1990:
movies_1990 = pd.read_sql("SELECT title FROM movies WHERE title LIKE '%%(1990)%%';", engine)
print(f"Filmy z 1990 roku:\n{movies_1990}")

Filmy z 1990 roku:
                                                 title
0                                    Home Alone (1990)
1                                         Ghost (1990)
2                            Dances with Wolves (1990)
3                                  Pretty Woman (1990)
4                               Days of Thunder (1990)
..                                                 ...
142  Dragon Ball Z: Bardock - The Father of Goku (D...
143               I Bought a Vampire Motorcycle (1990)
144                                Maniac Cop 2 (1990)
145                          Jetsons: The Movie (1990)
146                         The Forbidden Dance (1990)

[147 rows x 1 columns]